.top_info {
  display: flex;
  flex-direction: column;
  width: calc(100%-60px);
  padding: 30px 0;
  margin: 0 30px;
  gap: 16px;
  opacity: 0px;
  border-bottom: 1px solid #e4e4e4;
}
.top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checker {
  border: 3px solid #337ab7;
  width: 48%;
  height: 0;
  border-radius: 12px;
}
.plan {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  text-align: left;
  color: #363636;
}
.info {
  display: flex;

  align-items: center;
  gap: 12px;
}
.info_tag {
  display: flex;
  gap: 8px;
  align-items: center;
}
.top {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.1px;
  text-align: left;
  color: #818184;
}
.session {
  display: flex;
  flex-direction: column;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  gap: 4px;
}
.timming {
  height: 31px;
  padding: 8px 12px 4px 12px;
  gap: 4px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #fff;
}
.recording {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 12px 6px 12px;
  background-color: #337ab71a;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.37px;
  text-align: left;
  color: #337ab7;
}
.inactive {
  opacity: 10%;
}
.bottom_number {
  display: flex;
  flex-direction: column;
  padding: 12px 30px 12px 30px;
  gap: 12px;
  opacity: 0px;
}
.number_heading {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #363636;
}
.warning {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.82px;
  text-align: left;
  color: #818184;
}
.phoneInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 10px;
  box-shadow: 0px 4px 20px 0px #2b2b2b14;
  border-radius: 12px;
  height: 65px;
  width: 100%;
}
.flagContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}
.code {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.55px;
  text-align: left;
}
.phoneInput {
  border: none;
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.55px;
}
.bottom_button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 105px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -4px 20px 0px #2b2b2b0f;
}
.continue {
  width: 500px;
  height: 45px;
  padding: 10px;
  gap: 16px;
  border-radius: 12px;
  opacity: 0px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.82px;
  text-align: center;
}
.help {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tags {
  display: flex;
  overflow: auto;
  gap: 12px;
}
.bottom_desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
.help_tag {
  height: 32px;
  padding: 8px 12px 8px 12px;
  gap: 6px;
  border-radius: 12px;
  border: 1px solid #e4e4e4;
  opacity: 0px;
  box-shadow: 0px 4px 20px 0px #2b2b2b0f;
  display: flex;
  align-items: center;
  min-width: max-content;
}
.help_title {
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  text-align: left;
}
